@use './artist-page.scss';
@use './artists-page.scss';
@use './start-images.scss';
@use './global.scss';
@use './colors.scss';
@use './typography.scss';
@use './sizes.scss';
@use './modal.scss';

body {
  color: hsl(var(--clr-white));
  background-color: hsl(var(--clr-dark));
  height: auto;
}
