.backdrop {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.8);
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.modal-image {
  width: 600px;
  height: 600px;
  max-width: 90vw;
  max-height: 90vw;
}

.motif-title {
  color: white;
  text-underline-offset: 0.2em;
}
