@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;700&family=Barlow:wght@400;700&family=Bellefair&display=swap");
.artist {
  background-color: black;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
}

.info {
  flex-grow: 1;
  height: 100%;
  display: flex;
  align-items: center;
}

.text {
  display: none;
}

.portrait {
  height: 100%;
  flex-shrink: 0;
}

.title {
  text-align: center;
  font-size: 3em;
  margin: 0;
  width: 100%;
}

@media (min-width: 800px) {
  .artist {
    position: relative;
    height: 300px;
  }
  .info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    padding-left: 2em;
    z-index: 1;
    margin-right: -30px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5) 90%, rgba(0, 0, 0, 0));
  }
  .text {
    display: block;
  }
  .title {
    text-align: left;
  }
}
@media (min-width: 1000px) {
  .artist {
    background-color: transparent;
    min-height: calc(100vh - 275px);
  }
  .info {
    max-width: 50%;
    justify-content: center;
  }
  .portrait {
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    z-index: -1;
  }
}
.images {
  display: flex;
  flex-direction: column;
  width: 100vw;
}

.images img {
  width: 100%;
}

.image-container p {
  margin-top: 0;
  margin-bottom: 0.3em;
}

.image-container {
  transition: opacity 3s;
}

.invisible {
  opacity: 0;
}

@media (min-width: 500px) {
  .images {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .image-container {
    width: 49.5%;
  }
}
@media (min-width: 800px) {
  .image-container {
    width: calc(33.3333333333% - 5px);
  }
}
@media (min-width: 1000px) {
  .images {
    position: absolute;
    top: calc(100vh - 275px);
    padding-left: 2em;
    display: grid;
    grid-template-columns: 250px 250px 250px;
    max-width: 75vw;
    column-gap: calc((100vw - 250px - 750px) / 4);
    z-index: 2;
  }
  .image-container {
    width: 100%;
  }
}
* {
  box-sizing: border-box;
}

p {
  font-family: "Barlow", sans-serif;
}

h1 {
  font-family: "Bellefair", serif;
  font-weight: 400;
}

body {
  margin: 0;
  padding: 0;
  color: white;
  background-color: black;
}
